ul li{
    color: aqua;
}
.list{
    border: 3px brown dashed;
    margin:10px;
}
/* .container{
    border: 2px black solid;
    border-radius: 10px;
} */
/* .select{
    border: 7px green dashed;
} */